---
layout: splash
title: "Welcome to My Portfolio"
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/coffee.jpg
actions:
  - btn_label: "Contact Me"
  - url: "mailto:rileysteptoe12@gmail.com"
  - btn_class: "btn--inverse"
feature_row:
  - image_path: assets/images/coffee.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/projects/research-experiences/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/coffee.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/coffee.jpg
    alt: "placeholder image 2"
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
<!-- About Me Section -->
<section class="about-me" style="display:flex; align-items:center; flex-wrap:wrap; margin:2rem 0;">
  <!-- Avatar -->
  <img src="/assets/images/coffee.jpg"
       alt="About Me Avatar"
       style="width:200px; height:200px; border-radius:50%; object-fit:cover; margin-right:20px;">

  <!-- Text -->
  <div style="flex:1; min-width:200px;">
   <h2 class="archive__item-title" style="font-size: 1.5rem;" >About Me</h2>
    <p>
      Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque.
      Quis nulla, netus tempor in diam gravida tincidunt,
      <em>proin faucibus</em> voluptate felis id sollicitudin.
    </p>
  </div>
</section>

{% include feature_row id="intro" type="left" %}
<h2 class="archive__item-title" style="text-align: center;  font-size: 1.5rem; margin-top: 1rem; margin: 1rem;">Research Areas</h2>
{% include feature_row id="feature_row" %}



